



method: bayes
metric:
  name: Mean Spearman Corr
  goal: maximize
parameters:
  max_depth: 
    min: 6
    max: 10
  learning_rate: 
    min: 0.0001
    max: 0.001
  n_estimators: 
    min: 1100
    max: 8000
  colsample_bytree:
    min: 0.01
    max: 0.8
  reg_lambda:
    min: 0
    max: 5000
  proportion_neutralize:
    min: 0.001
    max: 0.999
  nr_riskiest_features:
    min: 1
    max: 1050
  target:
    values:
      target
      target_jerome_20
      target_janet_20
      target_ben_20
      target_alan_20
      target_paul_20
      target_george_20
      target_william_20
      target_arthur_20
      target_thomas_20
